server {
    listen 80;
    server_name staging.todoproductivity.site;

    location /static {
        alias /home/alim/sites/staging.todoproductivity.site/static;
    }

    location / {
        proxy_pass http://unix:/tmp/staging.todoproductivity.site.socket;
        proxy_set_header Host $host;
    }
}